$width: 100%;
$height: 100%;
$pinkgreen: #d3fb42;
$pinkblue: #02fdfe;
$theme-color: rgb(10, 4, 38);
$linear-bottom: linear-gradient($pinkgreen, $pinkblue);
$linear-right: linear-gradient(to right, $pinkgreen, $pinkblue);
$linear-left: linear-gradient(to left, $pinkgreen, $pinkblue);
$linear-top: linear-gradient(to top, $pinkgreen, $pinkblue);

.text-center {
    text-align: center
}
.text-left {
    text-align: left
}
.text-right {
    text-align: right
}
.linear {
    background: $linear-left !important;
}
.flex-1 {
    flex: 1;
}
.vm-btn {
    padding: 0.3rem 15vw;
    margin: 0.3rem auto;
    border-radius: 30px;
    font-size: 0.4rem;
  }
  .icon-red {
      fill: red;
  }
  .icon-blue {
    fill: #09BB07;
}